<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../style/login_account.css">
    <title>SEO BombParty</title>
</head>
<body>
        <div class="login-box">
            <h2>Login</h2>
            <form id='login-form' action="/login_account/form" method='post'>
              <div class="user-box">
                <input type="text" name="username" required="">
                <label>Username</label>
              </div>
              <div class="user-box">
                <input type="password" name="password" required="">
                <label>Password</label>
              </div>
              <a onclick="this.closest('form').submit();return false;" href="/login_account/form">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Log
              </a>
              <a href="/create_account">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Create
              </a>
              <a href="/menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                °
              </a>
            </form>
          </div>
</body>
</html>