<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/menu.css">
    <title>SEO BombParty</title>
</head>
<body>    <!--<div>
        <a href="/create_account">Create Account</a>
    </div>
    <div>
        <a href="/login_account">Login Account</a>
    </div>
    <div>
        <a href="/game">Game</a>
    </div>-->
    <nav>
        <ul class="menu-items">
            <li style="--i:5;"><a href="/account">Account</a></li>
            <li style="--i:4;"><a href="/create_account">Create Account</a></li>
            <li style="--i:3;"><a href="/login_account">Login Account</a></li>
            <li style="--i:2;"><a href="/game">Game</a></li>
            <li style="--i:1;"><a href="/logout">Log Out</a></li>
        </ul>
    </nav>
</body>
</html>