html,
body  {
    height: 100%;
    overflow: hidden;
    background-image: url('../assets/background_game.png');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

#bomb {
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#timer {
    display: block;
}
